---
interface Variable {
    user: string;
}


let title = "Lumir255";


import Enlace from '../react/Link/Link.jsx'
import './../css/Header.css'
---
<link rel="stylesheet" href=/>
<header class="header">
    <Enlace href="/../myProjects">MyProjects</Enlace>
    <Enlace href="/../myGames">MyGames</Enlace>
    <h2 id="titulo"> {title} </h2>
</header>
<style>
    h2 {
        font-family: "Nunito", system-ui;
        font-optical-sizing: auto;
        font-style: normal;
        color: white;
        font-size: 30px;
    }
</style>